body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2B8C6;
  background-color: #F2B8C6;
}

header {
  background-color: #ADD8E6;
  padding: 20px;
}

.contact {
  font-family: 'Kanit', sans-serif;
}

.nav1 {
  background-color: #CBC3E3;
  float: center;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font size: 1rem;
  max-width: 100%;
  min-width: 30%;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-family: 'Ubuntu', sans-serif;
}


a {
  text-decoration: inherit;
  list-style: inherit;
  color: #whitesmoke;
}


ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}


img {
  border: none;
  display: flex;
  justify-content: center;
  width:250px;height:370px
}


.maintext {
  display: flex;
    justify-content: center; 
      align-items: center;
      flex-direction: column; 
        background: #DEDEDE;
        border-radius: 1em;
        padding: 1em;
        max-width: 800px;
}

.joke {
  font-family: 'PT Serif', serif;
  width: 80%;
  background-color: lightpink;
}

.jokepunchline {
  font-family: 'PT Serif Italic', serif;
  background-color: lightpink;
}

.songlist {
  font-family: font-family: 'Merriweather', serif;
  text-align: center;
}

footer {
  background-color: powderblue;
  padding: 20px;
}


@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Merriweather:ital@1&family=PT+Serif:ital,wght@0,700;1,700&family=Ubuntu:wght@300&display=swap');